body {
	text-align: center;
	background-image: url(https://s-media-cache-ak0.pinimg.com/originals/87/6a/5c/876a5ccd848bf053742fde5cd41bc525.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: 100% 15%
}
h3 {
	font-size: 70px
}
.col-sm-3 {
	margin-bottom: 3%;
	background-color: #e6e8e7;
	margin-left: 6%;
	font-family: 'Imprima', sans-serif;

}

.heading {
 font-family: 'Skranji', cursive;
}

a {
font-size: 20px;
cursor: pointer;
}

 a:hover {
	margin-bottom: 10px;
	background-color: white;
	border:0;
	border-radius: 4px;
	font-size: 19px;
	padding: 4px;
	cursor: pointer;
}





